<div class="container-fluid">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            Run History
        </div>
        <div class="card-body">
            <div class="mat-elevation-z8">

                <table #table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

                    <ng-container matColumnDef="creationDateTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Run Rate </th>
                        <td mat-cell *matCellDef="let row"> {{row.creationDateTime | date: 'short'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="discountRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Rate </th>
                        <td mat-cell *matCellDef="let row"> {{row.discountRate | number : '1.2-2'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lowerBoundDiscountRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lower Discount Rate </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.lowerBoundDiscountRate | number : '1.2-2'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="upperBoundDiscountRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper Discount Rate </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.upperBoundDiscountRate | number : '1.2-2'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="discountRateIncrement">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dicount Increment </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.discountRateIncrement | number : '1.2-2'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="lifeOfProject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Life of Project </th>
                        <td mat-cell *matCellDef="let row"> {{row.lifeOfProject}} </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Net Present Value </th>
                        <td mat-cell *matCellDef="let row"> {{row.value | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="presentValue">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Present Value </th>
                        <td mat-cell *matCellDef="let row"> {{row.presentValue | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 1 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear1 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 2 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear2 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear3">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 3 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear3 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear4">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 4 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear4 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear5">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 5 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear5 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear6">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 6 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear6 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear7">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 7 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear7 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear8">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 8 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear8 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear9">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 9 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear9 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear10">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 10 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear10 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear11">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 11 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear11 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear12">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 12 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear12 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear13">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 13 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear13 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear14">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 14 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear14 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear15">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 15 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear15 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear16">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 16 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear16 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear17">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 17 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear17 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear18">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 18 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear18 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear19">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 19 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear19 | number : '1.2-2'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cashFlowYear20">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cash Flow 20 </th>
                        <td mat-cell *matCellDef="let row"> {{row.cashFlowYear20 | number : '1.2-2'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

                <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons [length]="pageLength" (page)="pageChange($event)"></mat-paginator>
            </div>
        </div>
    </div>
</div>