<div class="container">
    <form novalidate (ngSubmit)="calculate()" [formGroup]="netPresentValueForm" autocomplete="off">
        <div class="card">
            <div class="card-header">
                Net Present Value Calculator
            </div>
            <div class="card-body">
                <div formGroupName="rateGroup" class="row mb-2">
                    <div class="form-group col-md-4 mb-4">
                        <label for="lowerBoundDiscountRateId">Lower Bound Discount Rate (%)
                        </label>
                        <div>
                            <input class="form-control" id="lowerBoundDiscountRateId" type="text" placeholder="Lower Bound Discount Rate (required)" formControlName="lowerBoundDiscountRate" [ngClass]="{'is-invalid': (netPresentValueForm.get('rateGroup.lowerBoundDiscountRate').touched || 
                                netPresentValueForm.get('rateGroup.lowerBoundDiscountRate').dirty) && 
                                !netPresentValueForm.get('rateGroup.lowerBoundDiscountRate').valid }" />
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="netPresentValueForm.get('rateGroup.lowerBoundDiscountRate').errors?.required">
                                    Please enter lower bound discount rate.
                                </span>
                            <span *ngIf="netPresentValueForm.get('rateGroup.lowerBoundDiscountRate').errors?.pattern">
                                    Lower bound discount rate should be a positive number.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-4">
                        <label for="upperBoundDiscountRateId">Upper Bound Discount Rate (%)
                        </label>
                        <div>
                            <input class="form-control" id="upperBoundDiscountRateId" type="text" placeholder="Upper Bound Discount Rate (required)" formControlName="upperBoundDiscountRate" [ngClass]="{'is-invalid': netPresentValueForm.get('rateGroup').errors?.uppperRateLessThanLowerRate ||
                                ((netPresentValueForm.get('rateGroup.upperBoundDiscountRate').touched || 
                                netPresentValueForm.get('rateGroup.upperBoundDiscountRate').dirty) && 
                                !netPresentValueForm.get('rateGroup.upperBoundDiscountRate').valid) }" />
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="netPresentValueForm.get('rateGroup.upperBoundDiscountRate').errors?.required">
                                    Please enter upper bound discount rate.
                                </span>
                            <span *ngIf="netPresentValueForm.get('rateGroup.upperBoundDiscountRate').errors?.pattern">
                                    Upper bound discount rate should be a positive number.
                                </span>
                            <span *ngIf="netPresentValueForm.get('rateGroup').errors?.uppperRateLessThanLowerRate">
                                    Upper bound discount rate should be greater than lower bound discount rate.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-4">
                        <label for="discountRateIncrementId">Discount Rate Increment (%)
                        </label>
                        <div>
                            <input class="form-control" id="discountRateIncrementId" type="text" placeholder="Discount Rate Increment (required)" formControlName="discountRateIncrement" [ngClass]="{'is-invalid': (netPresentValueForm.get('rateGroup.discountRateIncrement').touched || 
                                netPresentValueForm.get('rateGroup.discountRateIncrement').dirty) && 
                                !netPresentValueForm.get('rateGroup.discountRateIncrement').valid }" />
                            <span class="invalid-feedback">
                                <span
                                    *ngIf="netPresentValueForm.get('rateGroup.discountRateIncrement').errors?.required">
                                    Please enter discount rate increment.
                                </span>
                            <span *ngIf="netPresentValueForm.get('rateGroup.discountRateIncrement').errors?.pattern">
                                    Discount rate increment should be a positive number.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="form-group col-md-4 mb-4">
                        <label for="initialCostId">Initial Cost</label>
                        <div>
                            <input class="form-control" id="initialCostId" type="text" placeholder="Initial Cost" formControlName="initialCost" [ngClass]="{'is-invalid': (netPresentValueForm.get('initialCost').touched || 
                                netPresentValueForm.get('initialCost').dirty) && 
                                !netPresentValueForm.get('initialCost').valid }" />
                            <span class="invalid-feedback">
                                <span *ngIf="netPresentValueForm.get('initialCost').errors?.required">
                                    Please enter intial cost.
                                </span>
                            <span *ngIf="netPresentValueForm.get('initialCost').errors?.max">
                                    Initial cost should be less than or equal to 0.
                                </span>
                            <span *ngIf="netPresentValueForm.get('initialCost').errors?.max == null 
                                    && netPresentValueForm.get('initialCost').errors?.pattern">
                                    Initial cost should be a number.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-4">
                        <label for="lifeOfProjectId">Life of Project (years)</label>
                        <div>
                            <select class="custom-select" id="lifeOfProjectId" type="text" placeholder="Life of Project (required)" formControlName="lifeOfProject" (change)="addCashFlows()" [ngClass]="{'is-invalid': (netPresentValueForm.get('lifeOfProject').touched || 
                                netPresentValueForm.get('lifeOfProject').dirty) && 
                                !netPresentValueForm.get('lifeOfProject').valid }">
                                <option value="" selected disabled>Choose...</option>
                                <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"
                                    value="{{number}}">
                                    {{number}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                <span *ngIf="netPresentValueForm.get('lifeOfProject').errors?.required">
                                    Please select life of project.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div formArrayName="cashFlows">
                    Cash flows
                    <hr>
                    <div class="form-group row mb-2">
                        <div class="form-group col-md-2 mb-4" *ngFor="let cf of cashFlows.controls; let i=index">
                            <label [attr.for]="i">Year {{i + 1}}</label>
                            <div>
                                <input class="form-control" [id]="i" type="text" [formControlName]="i" placeholder="Year {{i + 1}} (required)" [ngClass]="{'is-invalid': (cashFlows.controls[i].touched || 
                                    cashFlows.controls[i].dirty) && 
                                    !cashFlows.controls[i].valid }" />
                                <span class="invalid-feedback">
                                    <span *ngIf="cashFlows.controls[i].errors?.required">
                                        Please enter Year {{i + 1}}.
                                    </span>
                                <span *ngIf="cashFlows.controls[i].errors?.pattern">
                                        Year {{i + 1}} should be a number.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" type="submit" [title]="netPresentValueForm.valid ? 'Calculate Net Present Value' : 'Please fill up forms and check validations'" [disabled]="!netPresentValueForm.valid">
                    Calculate
                </button>
            </div>
        </div>
        <br />
        <div *ngIf="resultCount">
            <h4>Results</h4>
            <hr>
        </div>
        <div *ngFor="let count of resultCount; let i=index" class="chart-container">
            <div class="card">
                <div class="card-header">
                    Discount Rate: {{netPresentValueResults[i].discountRate | percentConvertToWholeNumber | number : '1.2-2' }}%
                    <br /> Net Present Value: {{netPresentValueResults[i].value | number : '1.2-2'}}
                </div>
                <div class="card-body">
                    <div id='chartContainerId{{i+1}}'></div>
                </div>
            </div>
        </div>
    </form>
</div>