<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class='navbar-brand' [routerLink]='["/"]'><span class='fa fa-money-bill-alt'></span> Net Present Value</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item link-active" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' class="nav-link" (click)='collapse()'>
                        <span class='fas fa-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/net-present-value"]' class="nav-link" (click)='collapse()'>
                        <span class='fas fa-calculator'></span> Calculator
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/net-present-value-data"]' class="nav-link" (click)='collapse()'>
                        <span class='fas fa-database'></span> Data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>