<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <br>
    <p class="lead">This website will help you to calculate the Net Present Value for a given series of Cash Flows.</p>
    <br>
    <a [routerLink]='["/net-present-value"]' class="btn btn-primary btn-lg">
      <span class='fas fa-calculator'></span> Go to Calculator
    </a>
  </header>
</div>